In [12]:
import numpy as np

In [13]:
import pandas as pd

In [14]:
import os

In [15]:
for dirname, _, filenames in os.walk(r'C:\Users\comic\NFL-Predictor\NFL-Predictor\Data\Train-Data\Games'):#Add path to input data inside ' ' 
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [16]:
team_info_data = pd.read_csv(r"C:\Users\comic\NFL-Predictor\Data\Train-Data\CombinedStats\CombinedStats1995.csv")
team_info_data.head()

,Name,Avg Points,Avg Yards,NPY/A,NRY/A,3rd%_x,4th%_x,Avg Points Let,Avg Yards Let,NPY/A Let,NRY/A Let,3rd%_y,4th%_y
0,San Francisco 49ers,28.5625,380.4375,6.8,3.6,48.9%,61.1%,16.1250,274.8750,5.1,3.0,37.9%,39.1%
1,Detroit Lions,27.2500,382.0625,6.8,4.5,45.7%,61.5%,21.0000,349.9375,6.1,4.4,38.0%,62.5%
2,Dallas Cowboys,27.1875,364.0000,7.1,4.4,44.6%,61.5%,18.1875,315.2500,5.9,4.0,44.9%,42.1%
3,Minnesota Vikings,25.7500,371.1250,6.2,4.0,47.7%,36.4%,24.0625,340.6875,6.2,3.8,41.5%,63.6%
4,Pittsburgh Steelers,25.4375,360.5625,6.4,3.7,42.2%,55.0%,20.4375,285.0625,5.7,3.6,33.7%,61.5%

In [17]:
train_data = pd.read_csv(r"C:\Users\comic\NFL-Predictor\Data\Train-Data\Games\Games1995.csv")
train_data.head()

,Week,Winner,Loser,PtsW,PtsL,Location,Day,Time
0,1,Atlanta Falcons,Carolina Panthers,23,20,NaN,Sun,1:00PM
1,1,St. Louis Rams,Green Bay Packers,17,14,@,Sun,1:00PM
2,1,San Francisco 49ers,New Orleans Saints,24,22,@,Sun,1:00PM
3,1,Cincinnati Bengals,Indianapolis Colts,24,21,@,Sun,1:00PM
4,1,Pittsburgh Steelers,Detroit Lions,23,20,NaN,Sun,1:00PM

In [23]:
#Want to create function or code block here that will grab data from first table for team 1 and team 2 and merge to new table. 
def combinedData(teamA, teamB):
    averagePointsA = team_info_data.loc[team_info_data.Name == teamA]["Avg Points"]
    averagePointsB = team_info_data.loc[team_info_data.Name == teamB]["Avg Points"]
    averageYardsA = team_info_data.loc[team_info_data.Name == teamA]["Avg Yards"]
    averageYardsB = team_info_data.loc[team_info_data.Name == teamB]["Avg Yards"]
#Do this for all categories
    return averagePointsA
#Change to list for all answers, then hopefully merge list for new data

print(combinedData("Atlanta Falcons", "Carolina Panthers"))

10    22.625
Name: Avg Points, dtype: float64

In [18]:
test_data = pd.read_csv(r"C:\Users\comic\NFL-Predictor\Data\Train-Data\Games\Games1996.csv")
test_data.head()

,Week,Winner,Loser,PtsW,PtsL,Location,Day,Time
0,1,Carolina Panthers,Atlanta Falcons,29,6,NaN,Sun,1:00PM
1,1,Indianapolis Colts,Arizona Cardinals,20,13,NaN,Sun,1:00PM
2,1,St. Louis Rams,Cincinnati Bengals,26,16,NaN,Sun,1:00PM
3,1,Kansas City Chiefs,Houston Oilers,20,19,@,Sun,1:00PM
4,1,Philadelphia Eagles,Washington Redskins,17,14,@,Sun,1:00PM

In [19]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Winner"]

features = ["PtsW", "PtsL"]
x = pd.get_dummies(train_data[features])
x_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(x, y)
predictions = model.predict(x_test)

output = pd.DataFrame({'Winner': test_data.Winner, 'Loser': predictions})